{% extends 'base.html' %}

{% block title %}
Reset Password
{%endblock%}

{% block content %}
{% for message in get_flashed_messages() %}
	
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

	<h1>Reset Password</h1>
	<br/>
	<form method="POST">
        {{ form.hidden_tag() }}
        

    {% if func == 'reset' %}
        {{ form.o_pass_w.label(class="form-label") }}

        {{ form.o_pass_w(class="form-control") }}
        <a class="unselectable kinda-link" id="o_eye" onclick="toggle_old()" style="cursor: pointer">Show Password</a>
        <br/>
        <br/>

    {% elif func == 'forgot' %}
        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br/>
        {{ form.answer.label(class="form-label") }}

        {{ form.answer(class="form-control") }}
        <br/>
        
    {% endif %}

        {{ form.n_pass_w.label(class="form-label") }}

		{{ form.n_pass_w(class="form-control") }}
        <a class="unselectable kinda-link" id="eye" onclick="toggle_new()" style="cursor: pointer">Show Password</a>
        <br/>
		<br/>
        
		{{ form.submit(class="btn btn-secondary") }}
        <br/><br/>
        {% if func == 'reset' %}
        <a href="{{url_for('forgot_pass')}}">Forgot Password</a>
        {% endif %}
        
    
    </form>    
    <script>
		var state = false;
		function toggle_new(){
			if(state){
				document.getElementById(
					"n_pass_w").setAttribute("type","password");
				document.getElementById("eye").style.color='#7a797e';
				state = false;
			}
			else{
				document.getElementById(
					"n_pass_w").setAttribute("type","text");
				document.getElementById("eye").style.color='#5887ef';

				state = true;
			}
		}
	</script>
    <script>
		var state = false;
		function toggle_old(){
			if(state){
				document.getElementById(
					"o_pass_w").setAttribute("type","password");
				document.getElementById("o_eye").style.color='#7a797e';
				state = false;
			}
			else{
				document.getElementById(
					"o_pass_w").setAttribute("type","text");
				document.getElementById("o_eye").style.color='#5887ef';

				state = true;
			}
		}
	</script>
{% endblock %}