{% extends 'base.html' %}

{% block title %}
Reset Password
{%endblock%}

{% block content %}
{% for message in get_flashed_messages() %}
	
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

	<h1>Reset Password</h1>
	<br/>
	<form method="POST">
        {{ form.hidden_tag() }}
        

    {% if func == 'reset' %}
        {{ form.o_pass_w.label(class="form-label") }}

        {{ form.o_pass_w(class="form-control") }}
        <br/>

    {% elif func == 'forgot' %}
        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br/>
        {{ form.answer.label(class="form-label") }}

        {{ form.answer(class="form-control") }}
        <br/>
        
    {% endif %}

        {{ form.n_pass_w.label(class="form-label") }}

		{{ form.n_pass_w(class="form-control") }}
		<br/>
		{{ form.submit(class="btn btn-secondary") }}
    </form>    
    
{% endblock %}